.dashboard-main-cntr {
  padding-top: 100px;
  padding-bottom: 50px;
  // display: flex;  

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: $white;
    background: $dark_gray;
    font-size: rem($fs-small);
    padding: 15px 20px;
    margin: 0 15px 30px;
    border-radius: 4px;
    
    @include max-screen($mq-tablet) {
      margin: 0 10px 30px;

      &.heading20 {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    @include max-screen($mq-mobile) {
      padding: 15px;
      margin-bottom: 20px;                    
    }
  }
  input[type="text"] {
    padding: 7px 10px;
    border-radius: 4px;
  }
  select {
    padding: 5px 10px;
    height: auto !important;
    border-radius: 4px;
    font-size: rem($fs-small);
  }
  textarea {
    min-height: 100px;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .user-notification {
    margin-bottom: 25px;
  }

  .dashboard__info-content {
    background: #ececec;
    margin-bottom: 30px;
    padding: 25px 20px 15px;
    line-height: 1.2;
    border-radius: 4px;

    h5 {
      margin-bottom: 20px;
      font-weight: $fw-reg;
      font-size: rem($fs-body);      

      span {
        text-transform: uppercase;
        font-weight: $fw-bold;
        margin-left: 5px;
        border-bottom: 2px solid #373a3c;
      }
    }
    .plan-info--user {      

      li {
        margin-right: 5px;
        background: #b5b5b5;
        padding: 10px 20px;
        color: #fff;
        margin-bottom: 15px;
        border-radius: 4px;

        span {
          font-weight: bold;
          text-transform: uppercase;
          color: $black;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
    .user__upgrade--btn {

    }
  }

  // .dashboard__main-content {
  //   width: auto;
  //   flex-grow: 1;
  // }

  // .dashboard__info-content {
  //   width: 350px;    
  //   background: $light_gray;
  //   color: $dark_gray;
  //   margin-top: -40px;
  //   padding: 15px;

  //   h3 {
  //     margin-left: 0;
  //     margin-right: 0;
  //     margin-bottom: 20px;
  //   }

  //   h5 {
  //     font-size: rem($fs-body);
  //     padding-bottom: 3px;            
  //     margin-bottom: 5px;
  //     a {
  //       border-bottom: 1px solid $dark_gray;
  //       padding-bottom: 3px;

  //       &:hover {
  //         color: $brick_red;
  //         border-color: $brick_red;
  //       }
  //     }
  //     span {
  //       text-transform: uppercase;
  //       display: inline-block;
  //       border-bottom: 2px solid $dark_gray;
  //     }
  //   }

  //   .plan__user {
  //     padding-bottom: 15px;
  //     border-bottom: 2px solid $dark_gray;
  //   }

  //   ul {
  //     li {
  //       display: block;
  //       margin-bottom: 3px;
  //       line-height: 1;

  //       span {
  //         font-weight: bold;
  //         color: $brick_red;
  //         display: inline-block;
  //         margin-right: 6px;
  //       }
  //     }
  //   }
    
  //   .plan__upgrade-wrapper {
  //     margin-top: 15px;
  //   }
  //   .plan__upgrade {
  //     margin-top: 15px;
  //   }
  // }
}
.dashboard-title {
  text-transform: uppercase;
  font-size: rem($fs-mbig);
  font-weight: bold;
  padding: 0 15px;

  @include max-screen($mq-tablet) {
    padding: 0 20px;
  }
}
.summary-cards-cntr {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  clear: both;

  @include max-screen($mq-tablet) {
    padding: 0 10px;
  }

  .summary__card {
    margin-bottom: 30px;
    float: none;

    @include max-screen($mq-tablet) {
      margin-bottom: 20px;
      padding: 0 10px;

      &.card--small {
        width: 25%;
      }
    }

    @include max-screen($mq-mobile) {
      width: 50%;

      &.card--small {
        width: 50%;
      }
    }

    .summary-info {
      color: $white;
      background: $brick_red;
      text-align: center;
      padding: 25px;
      display: block;
      height: 100%;
      border-radius: 4px;
      overflow: hidden;

      @include max-screen($mq-tablet) {        
        padding: 20px 15px;
      }

      @include max-screen($mq-mobile) {
        padding: 30px 15px;
      }

      > div {
        position: relative;
        z-index: 2;
      }
      span {
        font-size: rem($fs-large);
        line-height: 1;
        font-weight: bold;
      }
      h2 {
        margin-top: 15px;
        font-size: rem($fs-small);
        font-weight: $fw-sbold;
        line-height: 1.2;
      }
      &:after {
        content: '';
        height: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        position: absolute;
        background: $petal_green;
        z-index: 1;
        border-radius: 4px;
        @include transition;

        @include max-screen($mq-tablet) {
          left: 10px;
          right: 10px;
        }
      }
      &:hover::after {
        height: 100%;
      }
    }
    &.active .summary-info {
      background: $petal_green;
    }
  }
}
.custom-pagination {
  margin-top: 15px;
  padding: 0 15px;
  font-size: rem($fs-sbody);

  span.page-numbers.page-num {
    background-color: $lighter_gray;
    padding: 7px 20px;
    margin-right: 20px;
    border-radius: 4px;
  }
  a.page-numbers {
    border: 1px solid $lighter_gray;
    padding: 5px 12px;
    border-radius: 4px;

    &:hover {
      background-color: $lighter_gray;
    }
  }
  .page-numbers.current {
    padding: 6px 13px;
    font-weight: $fw-bold;
  }
  a.next.page-numbers, a.prev.page-numbers {
    font-size: 0;
    position: relative;
    border: none;
    height: 30px;
    width: 46px;
    top: -16px;

    &::before {
      position: absolute;
      font-size: rem($fs-mbig);
      transform: translateY(-50%);
      line-height: 0;
      top: 49%;
      font-family: fontawesome;
    }
    &:hover {
      background-color: transparent;
    }
  }
  a.next.page-numbers {
    &::before {
      content: '\f178'
    }
  }
  a.prev.page-numbers {
    &::before {
      content: '\f177 ';
    }
  }
}

.dashboard-info {
  padding: 20px;
  // background: #efefef;
  // padding: 50px 35px;  
  // box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);

  .send-activation-link {
    margin: 15px 0;
  }
}
