// ===================== //
// product setting pages
// ===================== //
.product-links-cntr {
  padding: 0 15px;
  font-size: 0;

  @include max-screen($mq-tablet) {
    padding: 0 20px;

    a {
      margin-bottom: 10px;
    }
  }

  a {
    font-size: rem($fs-small);
    margin-right: 15px;
    border-radius: 4px;
    padding: 10px 20px;
  }
}
.products__list-cntr {
  &.product__landing--list {    
  }
  .product-list-cntr {
    ul.products {
      font-size: 0;

      @include max-screen($mq-tablet) {
        padding: 0 10px;
      }

      li.product-list-item {
        padding: 0 15px;
        width: 20%;
        margin-bottom: 30px;
        vertical-align: top;

        @include max-screen($mq-tablet) {
          width: 25%; 
          padding: 0 10px;
        }

        @include max-screen($mq-mobile) {
          width: 33.333333%;           
        }

        @include max-screen($mq-sm-mobile) {
          width: 50%;           
        }

        .product-info-cntr {
          margin-top: 15px;

          h4 {
            font-size: rem($fs-small);
            font-weight: $fw-reg;
            margin-bottom: 10px;

            a:hover {
              color: $brick_red;
            }
          }
          .price {
            font-size: rem($fs-small);

            .amount {
              font-weight: $fw-bold;
            }            

            .woocommerce-Price-currencySymbol {
              font-weight: $fw-reg;
            }
          }
        }
      }
    }
    .product-image-cntr .product-image {
      height: 150px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .cart-btn a {
      font-size: rem($fs-tiny);
      padding: 10px 20px;

      &::before {
        font-size: rem($fs-medium);
      }
    }
  }
  .filter {
    &-container {
      margin-bottom: 30px;
      @include max-screen($mq-mobile) {
        margin-bottom: 20px;
      }
    }
    &__items {
      background: $lighter_gray;
      padding: 10px 15px;
      border-radius: 4px;

      @include max-screen($mq-mobile) {
        padding-bottom: 20px;
      }

      .product-filter-form {
        font-size: rem($fs-small);

        label {
          line-height: 30px;
          margin-bottom: 0;

          @include max-screen($mq-mobile) {
            display: block;
          }
        }
        select {
          padding: 6px 12px;
          width: 200px;
          border: 0;
          margin-left: 6px;
          outline: 0;
          background: $white;
          border-radius: 4px;
        }
        button {
          padding: 8px 25px;
          vertical-align: top;
          margin-left: 6px;
          border-radius: 4px;
          @include transition;
        }

        @include max-screen($mq-mobile) {
          float: none;
          font-size: 0;

          label {
            display: block;
            font-size: rem($fs-small);
          }
          select {
            width: 70%;
            margin-left: 0;
            font-size: rem($fs-small);
          }
          button {
            width: 30%;
            margin-left: 0;
          }
        }
      }
      .product-search-form {        
        input, button {
          display: inline-block;
          width: auto;
        }
        input {
          padding: 8px 15px;
          border: 0;
          width: 200px;
          border-radius: 4px;
        }
        button {
          margin-left: 6px;
          padding: 8px 25px;
          vertical-align: top;
          border-radius: 4px;
          @include transition;
        }

        @include max-screen($mq-mobile) {            
          float: none;
          margin-top: 15px;
          font-size: 0;

          input {
            width: 70%;
            margin-left: 0;
          }          
          button {
            width: 30%;
            margin-left: 0;
          }
        }
      }
    }
  }
}
.product-feature-setting {
  padding: 0 15px;
  margin-bottom: 30px;
}
.product-extra-edit-cntr {
  margin-top: 30px;

  .input-daterange {
    input {
      font-size: rem($fs-small);

      &:first-child, &:last-child {
        border-radius: 0;
      }
    }
    .input-group-addon {
      font-size: rem($fs-small);
      padding: 6px 10px;
    }
  }
}
.product-setting {
  h3 {
    margin-bottom: 20px;
  }
  button {
    margin-left: 15px;
  }
}
.dashboard-main-cntr {
  button {
    padding: 8px 20px;
    border-radius: 4px;
    @include transition;
  }

  button, input[type="button"] {
    font-size: rem($fs-small);
  }

  h6 {
    font-size: rem($fs-small);
    margin-bottom: 15px;
  }
}
.add-image-btn {
  margin-top: 10px;
}
.attachment-span {
  display: inline-block;
  margin-right: 6px;

  i {
    display: block;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      color: $brick_red;
    }
  }
}
.attribute-row {
  .add--remove {
    button {
      width: 100%;
    }
  }

  @include max-screen($mq-tablet) {
    .col-form-label {
      padding: 0;
      margin-bottom: 10px;
    }
  }

  @include max-screen($mq-mobile) {
    border-bottom: 2px solid $light_gray;
    [class*='add--'] {
      margin-bottom: 15px;
    }
    .add--remove {
      label {
        display: none;
      }
      button {
        width: auto;
      }
    }
  }
}

.product__edit-right {
  button {
    margin-bottom: 10px;    
  } 
}

@include max-screen($mq-tablet) {
  .dashboard__product-add--form {
    .form-group.row {
      margin-bottom: 15px;
    }
  }
  .product__edit-right {
    button {      
      margin-right: 6px;
    } 
  }

  .product__edit-left {
    .attribute-row {
      [class*='add--']{
        float: none;
        display: block;
        width: auto;
        margin-bottom: 15px;
      }
      .add--remove {
        label {
          display: none;
        }
        button {
          width: auto;
        }
      }
    }
  }

  .product-extra-edit-cntr {
    padding: 0 10px;
    .product-setting {
      padding: 0 10px;

      .row {
        margin: 0;
      }

      h3 {
        margin-left: 0;
        margin-right: 0;
      }

      .p15, label {
        padding: 0;
      }

      label {
        margin-bottom: 10px;
      }

      button {
        margin-left: 0;
      }
    }
  }
}

@include max-screen($mq-mobile) {
  .dashboard__product-add--form {
    [class*='col-'] {
      float: none;
      display: block;
      width: auto;
    }
    .col-form-label {
      margin-bottom: 10px;
    }
  }

  .product__edit-left, .product__edit-right {
    float: none;
    width: auto;
    display: block;
    left: 0;
    right: 0;
  }

  .product__edit-right {
    padding-bottom: 10px;
    border-bottom: 2px solid $lighter_gray;
    margin-bottom: 15px;
  }

  .product-extra-edit-cntr {   
    .product-setting {
      float: none;
      width: auto;
      display: block;
      margin-bottom: 15px;
    }
  }
}

@include max-screen($mq-sm-mobile) {
  .limit-exceed-cntr {
    a {
      display: block;
    }
    span {
      display: block;
      margin: 10px 0;
      text-align: center;
    }
  }
}
// ===================== //
// /.product setting pages
// ===================== //

// ===================== //
// profile setting pages
// ===================== //
.profile-setting-cntr .profile-update-btn {
  margin-left: 15px;
  margin-top: 20px;

  @include max-screen($mq-tablet) {
    margin-left: 10px;
  }
}

.profile-map {

  &__wrapper {
    position: relative;
  }

  &__input {
    margin-top: 10px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    font-family: inherit;
    font-size: rem($fs-small);
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    outline: 0;
    border: 1px solid transparent;
    color: #373a3c !important;
    position: absolute;
    z-index: 2;
    left: 100px;

    &:focus {
      border: 1px solid lightblue;
    }
  }

  &__selected {
    font-weight: $fw-bold;
    margin-top: 15px;
    margin-left: 5px;
    display: inline-block;
  }
}

// PACKAGE TYPES

.package {
  &-types-cntr {
    font-size: 0;
    margin:0 -15px;
  }
  &__type {    
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
    width: 25%;
    font-size: rem($fs-small);
    margin-bottom: 30px;
  }
  &__detail-cntr {
    border: 1px solid $lighter_gray;
    .package__top {
      background: $lighter_gray;
      padding: 10px 10px;
      h4 {
        font-size: rem($fs-sbody);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .package__info {      

      li {
        padding: 5px 10px;
        display: block;
        border-bottom: 1px solid $lighter_gray;
        font-size: 0;

        span {
          display: inline-block;
          font-size: rem($fs-small);
        }

        .package__info-left {
          width: 60%;
        }
        .package__info-right {
          width: 40%;
          font-weight: bold;
          text-align: right;
          text-transform: uppercase;
        }
      }
    }
    .package__update {
      padding: 10px;
      text-align: center;

      input {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

// PACKAGE TYPES END

// ===================== //
// /.profile setting pages
// ===================== //

// ===================== //
// store setting pages
// ===================== //
.store-setting-cntr {
  .form-group h3 {
    margin: 0 0 30px;

    @include max-screen($mq-mobile) {
      margin-bottom: 15px;
    }
  }
  .store-update-btn {
    margin-left: 15px;
    margin-top: 20px;

    @include max-screen($mq-tablet) {
      margin-left: 10px;
    }
  }
}
// ===================== //
// /.store setting pages
// ===================== //

// ===================== //
// order pages
// ===================== //
.filter__orders {
  margin-bottom: 20px; 
  background: #ececec;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;

  form {
    input {
      width: 250px;
      float: left;
      margin-right: 6px;
    }    
  } 

  @include max-screen($mq-sm-mobile) {
    form {
      width: 100%;

      input {
        width: 70%;
        margin: 0;
      }
      button {
        width: 30%;
      }
    }
  }
}
.orders {
  font-size: 0;

  .order-list-item {
    display: inline-block;
    vertical-align: top;
    font-size: rem($fs-small);
    float: none;
    margin-bottom: 30px;

    .order-details-list {
      padding: 0 15px;
      border: 1px solid $lighter_gray;
    }
    .order-detail-top {
      background: $lighter_gray;
      padding: 10px 0;
      margin-bottom: 10px;
    }
    .order-detail-bottom {
      background: $lighter_gray;
      padding: 10px 0;
    }
    p {
      margin-bottom: 5px;
      font-weight: bold;
    }
    span {
      font-weight: normal;
    }
    .woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
      font-weight: bold;
    }
    .order-detail-price-cntr {
      margin-top: 5px;
    }
    .view-order-detail-btn {
      margin-bottom: 0;
    }
    .view-order-detail {
      font-size: rem($fs-small);
      float: right;
    }
  }

  @include max-screen($mq-tablet) {
    padding: 0 10px;
    .order-list-item {
      padding: 0 10px;
      margin-bottom: 20px;

      .order-details-list {
        padding: 0 10px;        

        .order-detail-top, .order-detail-bottom {
          margin: 0 -10px;
        }

        .col-sm-5, .col-sm-7 {
          padding: 0 10px;
          float: none;
          display: block;
          width: auto;
        }

        .view-order-detail {
          float: none;
        }
      }
    }
  }

  @include max-screen($mq-mobile) {
    .order-list-item {
      width: 50%;
    }
  }

  @include max-screen($mq-sm-mobile) {
    .order-list-item {
      width: 100%;

      .view-order-detail {
        margin-top: 10px;
      }
    }
  }
}


.order-summary-detail-cntr {
  margin-bottom: 15px;

  h4 {
    font-size: rem($fs-body);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    margin-bottom: 5px;
  }

  @include max-screen($mq-mobile) {
    .order__summary {
      float: none;
      display: block;
      width: auto;
      margin-bottom: 15px;
    }
    .order-summary-basic-info {
      margin-bottom: 25px;
    }
  }
}
.order_status_change_form {
  margin-top: 10px;

  select {
    border-color: $light_gray;
    padding: 5px 12px;
    font-size: rem($fs-small);
    width: 250px;
    background: $white;
  }
  button {
    vertical-align: top;
    margin-left: 6px;
    padding: 8px 25px;
  }

  @include max-screen($mq-mobile) {
    select {
      width: 70%;
      float: left;
    }
    button {
      width: 30%;
      margin-left: 0;
    }
  }
}
.order-purchased-items-cntr {
  .product-info-cntr {
    span {
      font-weight: bold;
    }
  }
}
.order-payment-info-cntr {
  p {
    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }
}
// ===================== //
// /.order pages
// ===================== //

// ===================== //
// category pages
// ===================== //
.dashboard-category-cntr {
  h3 {
    margin: 0 0 30px;
  }

  @include max-screen($mq-tablet) {
    padding: 0 10px;

    .category__section {
      padding: 0 10px;
    }
    .category__add-form .form-group {
      margin-bottom: 15px;
    }
  }

  @include max-screen($mq-mobile) {
    h3 {
      margin-bottom: 20px;
    }
    .category__section {
      float: none;
      display: block;
      width: auto;
      margin-bottom: 15px;
    }
    .category__add-form .form-group {
      label {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
.category-lists {
  font-size: rem($fs-small);

  li {
    display: block;
    background: $lighter_gray;
    padding: 10px 15px;
    color: $black;
    position: relative;
    margin-bottom: 2px;

    a:hover {
      color: $brick_red;
    }
    .toggle-cat-drop {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: rem($fs-ebody);
      cursor: pointer;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      transition: all 0.3s ease-in-out;

      &.active {
        color: $brick_red;
        transform: rotate(180deg);
      }
      &:hover {
        color: $brick_red;
      }
    }
    .cat-icons {
      margin-left: 3px;
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        color: $brick_red;
      }
    }
  }
  .children {
    display: none;
    padding-top: 10px;

    li {
      background: $light_gray;
      margin-bottom: 2px;

      .children {
        li {
          background: $lighter_gray;
        }
      }
    }
  }
}
