.gsn-ldocs {
  &__wrapper {

    @include min-screen($mq-min-mobile) {
      padding: 40px 0 0;
    }
  }  

  &__step {
    padding: 40px 0;
    visibility: hidden;

    &:nth-child(even) {
      background: #f7f7f7;
    }

    @include min-screen($mq-min-mobile) {
      padding: 60px 0;

      &:hover {
        .gsn-ldocs__stitle::after {
          transform: scaleX(1);
        }

        .gsn-ldocs__simg {
          box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
          transform: translateY(-2px);
        }
      }
    }

    @include min-screen($mq-min-mobile) {
      &:nth-child(even) {
        .gsn-ldocs__sleft {
          order: 1;
        }

        .gsn-ldocs__scontent__wrap {
          padding-left: 0;
          padding-right: 45px;
        }

        .gsn-ldocs__simg__wrap {
          padding-right: 0;
          padding-left: 45px;
        }
      }
    }
  }

  &__simg {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    @include transition;

    &__wrap {
      @include min-screen($mq-min-mobile) {
        padding-right: 45px;        
      }
    }
  }

  &__stitle {
    color: $black;
    font-size: rem($fs-ebody);
    font-weight: $fw-bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    line-height: 1;

    @include min-screen($mq-min-mobile) {
      font-size: rem($fs-medium);
    }

    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 60px;
      background: $black;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scaleX(0.5);
      transform-origin: left bottom;
      @include transition;
    }
  }

  &__scontent {
    @include max-screen($mq-mobile) {
      * {
        width: 100%;
      }
    }

    &__wrap {
      @include min-screen($mq-min-mobile) {
        padding-left: 45px;
      }
    }
  }

  &__sright {
    @include max-screen($mq-mobile) {
      margin-top: 40px;
    }
  }

  &__sdesc {    
    margin-top: 20px;
    font-size: rem($fs-body);
    line-height: 1.8;
  }
}