/**
 * Define the screen sizes in the varible
 */

// media query 
$mq-tablet: 1024px;
$mq-mobile: 800px;
$mq-sm-mobile: 600px;

$mq-min-mobile: 801px;
$mq-min-sm-mobile: 601px;

/**
 * Define colors
 */

$gray_bg: #9c9c9c;
$space_gray: #888888;
$dark_gray: #555555;
$mid_gray: #777777;
$light_gray: #dcdcdc;
$lighter_gray: #ececec;
$border-gray: #eaeaea;
$brick_red: #E74F4A;
$petal_green: #68BD74;
$darker__gray: #283643;

/* dashboard colors */
$dark_blue:#232429;

/* Theme colors */
$black: #000;
$white: #fff;
$gray: #444444;
$yellow: #ff0;
$dark__gray: #252525;
$white_smoke: #f5f5f5;
$rating_color: #ffae00;

// Font Sizes, Family and Weights
$fs-etiny: 11px;
$fs-tiny: 12px;
$fs-small: 14px;
$fs-sbody: 15px;
$fs-body: 16px;
$fs-ebody: 18px;
$fs-medium: 20px;
$fs-mbig: 24px;
$fs-big: 26px;
$fs-large: 30px;
$fs-elarge: 48px;

$fw-l: 300;
$fw-reg: 400;
$fw-sbold: 600;
$fw-bold: 700;
$fw-ebold: 800;
