.main-content {
  margin-top: 100px;

  @include max-screen($mq-mobile) {
    margin-top: 80px;
  }
}
.hero-section {
  margin-bottom: 50px;
}
.hero-part {
  height: 600px;

  @include max-screen($mq-mobile) {
    &.hero__middle.hero-slider{
      height: 500px;
      width: auto;
      display: block;
      float: none;
    }    
  }

  .half-height {
    height: 50%;
    padding-bottom: 15px;
    clear: both;

    &:last-child {
      padding-bottom: 0;
      padding-top: 15px;
    }
    &.with-add {
      height: 42%;
    }
  }
  .home-top-add {
    background-color: $space_gray;
    width: 100%;
    height: 15.8%;
    display: block;
    background-size: cover;
  }
}

.slider-cntr, .slick-list, .slick-track, .slider__slides, .slider-image {
  height: 100%;
}
.slider-image {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-slider {
  .slick-arrow {
    background: $dark_gray;
    border: none;
    color: $white;
    font-size: 0;
    height: 50px;
    left: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    width: 35px;
    z-index: 1;

    &::before {
      content: '\f104';
      font-family: FontAwesome;
      font-size: rem($fs-mbig);
      font-weight: bold;
    }
    &.slick-next {
      left: auto;
      right: 0;

      &::before {
        content: '\f105';
      }
    }
    &:hover {
      background: $brick_red;
    }
  }
  .slider__slides {
    position: relative;
    overflow: hidden;

    &.slick-active.slick-current .slider-content {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
.slider-content {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  color: $white;
  left: 0;
  opacity: 0;
  padding: 20px 35px;
  position: absolute;
  right: 0;
  text-align: right;
  transition: all 0.3s ease;
  transition-delay: 0.4s;
  transform: translateX(40px);
  visibility: hidden;
  z-index: 2;

  h2 {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 10px;

    @include max-screen($mq-mobile) {
      font-size: rem($fs-mbig);
    }
  }
  span {
    color: $light_gray;
    display: block;
    font-style: italic;
    margin-bottom: 10px;
  }
  .slider-btn a {
    background: $brick_red;

    &:hover {
      background: $petal_green;
    }
  }
}
// /.slider

.middle_ad_cntr {
  margin: 20px 0;

  .home-mid-ad {
    display: block;
    background-color: $lighter_gray;
    height: 70px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-size: cover;
  }
}
