.header {
  &__top {
    background: $black;
    color: $white;
    font-size: rem($fs-small);
    height: 35px;
    line-height: 35px;

    @include max-screen($mq-mobile) {
      height: 1px;
    }
  }
  &__bottom {
    background: $white;
    height: 100px;
    line-height: 100px;
    position: absolute;
    width: 100%;
    z-index: 4;

    @include max-screen($mq-mobile) {
      top: 0;
    }

    &.stick {
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 4;
    }
  }
  &__logo {
    text-transform: uppercase;

    @include max-screen($mq-mobile) {
      float: left;
    }

    h1 {
      font-size: rem($fs-medium);
      font-weight: bolder; 

      .logo__image {
        width: 150px;
        height: 80px;
        margin-top: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        @include max-screen($mq-mobile) {
          height: 60px;
        }

        @include max-screen($mq-sm-mobile) {
          width: 120px;
        }

        @include max-screen(340px) {
          width: 100px;
        }
      }

      img {
        max-width: 150px; 
        margin-top:10px;
        height: 1px;
        width: 1px;
        opacity: 0;
      }
    }
  }
  // /__logo
}
// top bar
.top {
  color: $white;
  text-transform: uppercase;

  a {
    &:hover {
      color: $brick_red;
    }
  }
  ul {
    li {
      margin-right: 15px;

      .fa {
        margin-right: 5px;
      }
    }
  }
  &__left-icons {
  }
  &__right-icons {
    ul {
      li {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}
// /.top bar

// navigation
@include min-screen($mq-min-mobile) {
  .main-nav .menu-store-header-menu-container{
    display: block !important;
  }          
}
.nav__links {
  font-size: 0;

  li {
    font-size: rem($fs-body);
    position: relative;
    cursor: pointer;
    float: left;

    @include max-screen($mq-mobile) {
      float: none;
      display: block;
      position: relative;

      i {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 7px;
        right: 20px;
        font-size: rem($fs-large);
        text-align: center;
        transition: all 0.3s ease-in-out;

        &.nav-active {
          transform: rotate(180deg);
        }
      }

      .dropdown__menu li i {
        font-size: rem($fs-mbig);
        top: 10px;
      }
    }

    &.active, &:hover > a {
      color: $brick_red;
    }
  }
  a {
    display: block;
    font-weight: bold;
    line-height: 100px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;

    @include max-screen($mq-tablet) {
      padding: 0 15px;
    }

    @include max-screen($mq-mobile) {
      padding: 15px 20px;
      line-height: 1;          
    }
  }
}
.dropdown {
  transition: all 0.3s ease;

  &__link {
    position: relative;

    &::after {
      content: '\f0d7';
      font-family: FontAwesome;

      @include max-screen($mq-mobile) {
        display: none;
      }
    }
  }
  &__menu {
    background: $black;
    color: $white;
    left: 0;
    min-width: 200px;
    opacity: 0;
    position: absolute;
    top: 100%;
    transform: translateY(15px);
    transition: all 0.3s ease;
    visibility: hidden;
    white-space: nowrap;
    z-index: 2;

    @include min-screen($mq-min-mobile) {
      display: block !important;
    }

    li {
      display: block;
      line-height: 1;
      float: none;

      a {
        display: block;
        line-height: 1;
        padding: 10px 25px;
        text-align: left;
        font-size: rem($fs-small);
        font-weight: normal;

        &.dropdown__link::after {
          content: '\f0da';
          float: right;
          margin-left: 5px;
        }
      }
      .dropdown__menu {
        left: 100%;
        top: 0;
        @include min-screen($mq-min-mobile) {
          ul{
            display: block !important;
          }          
        }
      }
      &:hover > .dropdown__menu {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
  }
  &:hover > &__menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

// navigation responsive
@include max-screen($mq-mobile) {
  .header__bottom {
    height: 80px;
    line-height: 80px;
  }
  .header__main-items {
    position: static;
    float: right;
  }
  .main-nav {
    position: absolute;
    right: 0;
    top:  100%;
    bottom: 0;
    width: 100%;    
    z-index: 11;    

    .menu-store-header-menu-container {
      display: none;
      background: $white;
      border-top: 2px solid $black;
      overflow-y: scroll;
    }
  }
  .nav__links {
    padding: 15px 0;
  }
  .dropdown__menu {
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
    visibility: visible;
    opacity: 1;    

    > ul {
      display: none;
    }

    li{
      a {
        font-size: rem($fs-body);
        padding: 15px 30px;
      }
      .dropdown__menu {
        left: 0;

        li a {
          padding: 15px 45px;
        }
      }
    }     
  }
}

// /.navigation

// cart
.item__cart {
  position: relative;
  transition: all 0.3s ease-in-out;

  &.nav-active {
    opacity: 0;
    visibility: hidden;
  }

  @include min-screen($mq-min-mobile) {
    display: block !important;        
    opacity: 1!important;
    visibility: visible!important;
  }

  @include max-screen($mq-mobile) {
    margin-right: 60px;
    position: static;
  }

  @include max-screen(340px) {
    margin-right: 45px;
   
  }
}
.cart {
  &__icon {
    @include max-screen($mq-mobile) {
      position: relative;
    }
    .cart-indicator {
      background: $brick_red;
      border-radius: 50%;
      color: $white;
      height: 24px;
      line-height: 22px;
      text-align: center;
      margin-top: -12px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 24px;
      z-index: 2;
    }
    a {
      padding-right: 30px;

      &:hover {
        color: $brick_red;
      }
    }
  }
  &__prices {
    border-top: 2px solid $light_gray;
    padding-top: 5px;

    .cart-price {
      padding: 7px 0;

      .price {
        float: right;
        font-weight: bold;
      }
    }
  }
  &__buttons {
    margin-top: 20px;
    text-align: right;

    a:hover {
      background: $brick_red;
      color: $white;
    }
  }
}

@include max-screen($mq-mobile) {
  .cart__list {
    max-height: 255px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.cart-item {
  display: block;
  margin-bottom: 15px;
  position: relative;

  .cart-image {
    float: left;
    margin-right: 10px;
    max-width: 80px;
  }
  .cart-product-info {
    overflow: hidden;
    padding-right: 30px;

    .product__name {
      text-align: right;
      margin-bottom: 5px;

      @include max-screen($mq-sm-mobile) {
        display: flex;
      }

      > span {
        padding-right: 5px;
        float: right;

        @include max-screen($mq-sm-mobile) {
          order: 2;
        }
      }
      a {        
        text-overflow: ellipsis;
        width: 230px;
        overflow: hidden;
        padding-right: 15px;
        text-align: left;

        @include max-screen($mq-sm-mobile) {
          flex-grow: 1;
        }
      }
    }
    .product__attributes {
      a {
        font-style: italic;
      }
      .product__price {
        font-weight: bold;
      }
    }
  }
  .cart-product-remove {
    position: absolute;
    right: 5px;
    top: 0;
  }
}
.toggle__content {
  background: $white;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.12);
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100%;
  white-space: nowrap;
  width: 380px;
  z-index: 3;

  @include max-screen($mq-mobile) {
    right: 20px;
    border-top: 2px solid $black;
  }

  @include max-screen($mq-sm-mobile) {
    width: 100%;
    right: 0;
    left: 0;
    padding: 20px;
  }

  > * {
    line-height: 1;
  }
}
.search__content.toggle__content {
  width: 460px;
  right: 15px;

  @include max-screen($mq-mobile) {
    right: 20px;
  }

  @include max-screen($mq-sm-mobile) {
    width: 100%;
    right: 0;
    left: 0;
    border-top: 2px solid $black;
  }
}
// /.cart

// search
.item__search {
  margin-right: 15px;
  transition: all 0.3s ease-in-out;

  &.nav-active {
    opacity: 0;
    visibility: hidden;    
  }

  @include min-screen($mq-min-mobile) {
    display: block !important; 
    opacity: 1 !important;       
    visibility: visible !important;
  }
}
.search {
  form {
    
  }
  a:hover {
    color: $brick_red;
  }
  i {
    padding-right: 15px;
    border-right: 1px solid $dark_gray;
  }
  &-select {
    margin-right: 10px;
    width: 190px;

    @include max-screen($mq-sm-mobile) {
      width: 100%;
      margin-right: 0;
    }

    select {
      padding: 9px 11px 8px;
      height: auto !important;
      border-color: $light_gray;
      font-size: rem($fs-small);

      option {
        padding: 0;
      }
    }
  }
  &-input {
    width: 240px;

    @include max-screen($mq-sm-mobile) {
      width: 100%;
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 11px 15px;
      border-color: $light_gray;
      box-shadow: none;
      outline: 0;
      border-width: 1px;
      border-style: solid;
      font-size: rem($fs-small);
      line-height: 1.2;
    }
  }
  &-button {
    width: 130px;

    button {
      display: block;
      width: 100%;
      background: $brick_red;
      transition: all 0.3s ease;

      &:hover {
        background: $petal_green;
      }
    }
  }
}
// search product dropdown
.search-auto-result-cntr {
  position: relative;  
  clear: both;
  padding-top: 10px;
  margin: 0 -10px -10px;

  ul {
    max-height: 405px;
    overflow-y: auto;
    width: 100%;

    @include max-screen($mq-mobile) {
      max-height: 240px;
    }

    li {
      display: block;
      padding: 10px;
      cursor: pointer;
      background: $white;
      font-size: rem($fs-small);
      border-bottom: 1px solid $lighter_gray;

      .autocomplete-search-item {
        white-space: normal;

        img {
          width: 60px;
          float: left;
        }
        span {
          display: block;
          overflow: hidden;
          padding-left: 10px;
        }
      }
      &:hover {
        background: $petal_green;
        color: $white;
      }
    }
  }
}
// /.search


// hamburger
.hamburger-icon {
  width: 30px;
  height: 18px;
  position: relative;
  display: block;  

  .line {
    display: block;
    background: $white;
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all 0.3s;

    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
    }
    &.line-3 {
      top: 100%;
    }
  }

  &.nav-active {
    .line-1 {
      transform: translateY(9px) translateX(0) rotate(45deg);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      transform: translateY(-9px) translateX(0) rotate(-45deg);
    }
  }
}

.theme-hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  .line {
    background: $black;
  }
}

.theme-nav-overlay, .theme-toggle__content--search-overlay, .theme-toggle__content--cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(87, 88, 90, 0.7);
  opacity: 0;
  visibility: hidden;  
  transition: all 0.3s ease-in-out;
  
  &.nav-active {
    visibility: visible;
    opacity: 1;
  }

  @include min-screen($mq-min-mobile) { 
    visibility: hidden !important;
    opacity: 0 !important;
  }

  @include min-screen($mq-min-sm-mobile) { 
    visibility: hidden !important;
    opacity: 0 !important;
  }
}