.gsn-custom {
  &__btn {
    border: 0;
    border-radius: 4px;
    height: 50px;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    font-family: 'Open sans',sans-serif;
    padding: 5px 15px;
    width: 120px;
    font-size: rem($fs-body);
    font-weight: $fw-sbold;
    outline: 0;
    letter-spacing: .025em;
    cursor: pointer;
    @include transition;

    &--green {
      color: $white;
      background: $petal_green;
  
      @include min-screen($mq-min-mobile) {
        &:hover, &:focus {
          background: #78ca83;
          color: $white;
        }
  
        &:active {
          background: #5aa965;
          color: #e7eef7;
        }
      }
    }

    @include min-screen($mq-min-mobile) {
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
  
      &:active {
        transform: translateY(1px);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
    }
  }
}