.gsn-custom {
  &__btn {
    @include common-btn;

    &--green {
      color: $white;
      background: $petal_green;
  
      @include min-screen($mq-min-mobile) {
        &:hover {
          background: #78ca83;
          color: $white;
        }

        &:focus {
          background: #73c37d;
        }
  
        &:active {
          background: #5aa965;
          color: #e7eef7;
        }
      }
    }

    &--blue {
      background: #393de8;
      color: $white;

      @include min-screen($mq-min-mobile) {
        &:hover {
          background: #385ce6;
        }

        &:focus {
          background: #385ce6;
        }
  
        &:active {
          background: #2b2ed6;
        }
      }
    }

    &--grey {
      background: #555;
      color: $white;
      
      @include min-screen($mq-min-mobile) {
        &:hover {
          background: #5a5a5a;
        }

        &:focus {
          background: #4e4e4e;
        }

        &:active {
          background: #1b1b1b;
        }
      }
    }

    &--white {
      background: #f2f8ff;
      color: $petal_green;

      @include min-screen($mq-min-mobile) {
        &:hover {
          color: #78ca83;
        }

        &:focus {
          color: #88df93;
        }

        &:active {
          background: #e7eef7;
          color: #5aa965;
        }
      }
    }

    &--small {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      width: 100px;
    }

    &--medium {
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      width: 120px;
      font-size: rem($fs-body);
    }

    &--big {
      height: 50px;
      line-height: 50px;
      font-size: rem($fs-body);
      width: 160px;
      text-transform: uppercase;
    }

    &--large {
      text-transform: uppercase;      
      font-weight: $fw-bold;
      font-size: rem($fs-body);
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      min-width: 150px;

      @include min-screen($mq-min-mobile) {
        font-size: rem($fs-ebody);
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        min-width: 200px;
      }
    }
  }
}