.gsn-cta__btn {
  text-transform: uppercase;
  font-size: rem($fs-ebody);
  font-weight: $fw-bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 20px;
  min-width: 200px;
  border-radius: 4px;
  letter-spacing: .025em;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  @include transition;

  &--green {
    color: $white;
    background: $petal_green;

    @include min-screen($mq-min-mobile) {
      &:hover, &:focus {
        background: #78ca83;
        color: $white;
      }

      &:active {
        background: #5aa965;
        color: #e7eef7;
      }
    }
  }

  &--white {
    background: #f2f8ff;
    color: $petal_green;

    @include min-screen($mq-min-mobile) {
      &:hover, &:focus {
        color: #78ca83;
      }

      &:active {
        background: #e7eef7;
        color: #5aa965;
      }
    }
  }

  @include min-screen($mq-min-mobile) {
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
  }
}
