.main-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  .error-content  {
    text-align: center;
    font-weight: bold;
  }

  h1 {    
    font-size: 200px;    
    color: #e1e1e1;
    z-index: -1;
    font-weight: bold;

    span {
      display: inline-block;
      position: relative;
      top: -20px;
    }
  }

  p {    
    margin: 0;
    font-size: 26px;    
    font-weight: bold;
  }

  .go-to-home-link {
    margin-top: 30px;

    a {
      padding: 15px 25px;
      background: $brick_red;
      color: $white;
      text-transform: uppercase;

      &:hover {
        background: $petal_green;
      }
    }
  }
}