body.page-template-register {
  overflow: hidden;
}

// HERO SECTION WITH LOGO

.landing-hero-cntr {
  width:100%; 
  height:100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .logo-wrap {
    width:40%;
    max-width: 80%; 
    margin:0 auto; 
    position:relative;
    perspective: 1000px;

    @include max-screen($mq-tablet) {
      max-width: 95%;
      width: 60%;
    }

    @include max-screen($mq-mobile) {
      width: 80%;
    }

    @include max-screen($mq-sm-mobile) {
      width: 90%;
      top: -20%;
    }
  }
}
#logo_svg {
  width:100%; 
  position:relative;
  svg {
    padding: 16px 0;
    margin:0 23px;

    @include max-screen($mq-tablet) {
      padding: 0;
      margin: 0;
    }
  }    
}
#img_cntr {
  position: absolute; 
  overflow:hidden; 
  opacity: 0;
  top:-2px;   
  left:0; 
  bottom: 0;
  right: 0;
  z-index: 9;
  will-change: transform;
  svg{ 
    box-sizing:border-box; 
    padding:19px; 
    overflow:auto;

    @include max-screen($mq-tablet) {
      padding: 0;
    }
  }
}
#logo-shadow {
  opacity: 0;
}
#main-logo-svg, #logo-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
}
#logo-shadow {
  background: url(../images/main-logo-plain.svg) center center no-repeat;
  background-size: 90% 100%;
  -webkit-filter: url(#shadow);
  filter: url(#shadow);
  opacity: 0;
  will-change: transform;
  transform: translateZ(-10px) translateY(5px);
  z-index: -1;
}

.anim-shape {
  -webkit-transform-origin: 0 150px;
  -ms-transform-origin: 0 150px;
  transform-origin: 0 150px;
  -webkit-transform: scale(1, 2) rotate(270deg) translate(0, 0);
  -ms-transform: scale(1, 2) rotate(270deg) translate(0, 0);
  transform: scale(1, 2) rotate(270deg) translate(0, 0);
  -webkit-animation: moving-panel 5s infinite alternate;
  animation: moving-panel 5s infinite alternate;
  opacity: 0.2
}
.colortext .anim-shape:nth-child(1) {
  fill: #F2385A;
}
.colortext .anim-shape:nth-child(2) {
  fill: #F5A503;
}
.colortext .anim-shape:nth-child(3) {
  fill: #E9F1DF;
}
.colortext .anim-shape:nth-child(4) {
  fill: #56D9CD;
}
.colortext .anim-shape:nth-child(5) {
  fill: #3AA1BF;
}
.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}
.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}
 @-webkit-keyframes moving-panel {
 100% {
   -webkit-transform: scale(1, 1) translate(20px, 0);
   transform: scale(1, 1) translate(20px, 0);
  }
}
@keyframes moving-panel {
 100% {
   -webkit-transform: scale(1, 1) translate(20px, 0);
   transform: scale(1, 1) translate(20px, 0);
  }
}
// HERO SECTION WITH LOGO END


// Landing buttons 
.landing-buttons-cntr {
  position: fixed;
  bottom: -100%;
  width: 350px;
  z-index: 9;
  transition: all 350ms cubic-bezier(.77, 0, .175, 1);

  @include max-screen($mq-sm-mobile) {
    width: 280px;
  }
  
  &.move-up {        
    bottom: 20px;
  }
}

.landing {
  &-form-cntr {
    background: $petal_green;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    transition: all 0s 0.5s;

    &.open-form {
      opacity: 1;
      visibility: visible;      
      z-index: 99;
      animation-name: reveal;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(.77, 0, .175, 1);
      animation-delay: 0s;      
      animation-fill-mode: forwards;      
    }

    .landingform__logo {
      position: fixed;
      width: 100%;
      text-align: center;
      top: 20px;

      svg {
        width: 150px;
        height: 80px;
        fill: $white;
        transition: all 0.3s ease;
      }
    }
  }

  &__tab-content {
    max-width: 640px;
    min-width: 640px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);    
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5s;
    color: $white;

    @include max-screen($mq-sm-mobile) {
      min-width: inherit;
      top: 0;
      left: 0;
      right: 0;
      bottom: 60px;
      padding: 20px 20px 0;
      overflow: hidden;
      overflow-y: auto;
      transform: translateX(0) translateY(40%);
    }

    &.forms-active {
      transition-delay: 0s;
      transition: all .2s ease-in-out;
    }

    &.opened {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-50%);

      @include max-screen($mq-sm-mobile) {
        transform: translateX(0) translateY(0);
      }
    }

    &.closing {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-60%);
      transition: all 0.5s ease-in;
      transition-delay: 0s;
    }

    h2 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: bold;
    }
    
    .form-group {
      margin-bottom: 20px;
      position: relative;
    }

    .form-label {
      margin-bottom: 2px;
      font-weight: normal;
    }
    
    label.error {
      position: absolute;
      margin: 0;
      top: 100%;
    }
    .form__message {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;

      a {
        text-transform: uppercase;
        color: yellow;

        &:hover {
          color: $black;
        }
      }
    }
  }
  &__tab {
    border-bottom: none;

    li {
      display: inline-block;
      float: left;
      text-align: center;
      width: 50%;
      background: $gray_bg;
      transition: all 0.3s ease-in;

      &.active {
        background: $brick_red;
      }
      &:hover {
        background: $petal_green;
      }
      a {
        color: white;
        display: block;
        font-size: 16px;
        padding: 15px 15px;
        text-transform: uppercase;        
      }
    }
  }
}

.wipe-block {  
  background: $brick_red;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 998;
  opacity: 0;
  visibility: hidden;

  &.close-form {    
    animation-name: hide;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
    animation-delay: 0s;      
    animation-fill-mode: forwards;
  }
  &.open-form {
    animation-name: cover;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.77, 0, .175, 1);
    animation-delay: 0s;      
    animation-fill-mode: forwards;
  }
}

.close-form-cntr {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;

  .close__btn {  

    svg {
      height: 20px;
      width: 20px;
      fill: $white;
      vertical-align: middle;
      transition: all 0.3s ease-in;
    }
    span {
      display: inline-block;
      line-height: 24px;
      vertical-align: top;
      color: $white;
      text-transform: uppercase;
      margin-left: 5px;
      font-size: 20px;
      letter-spacing: 2px;
      transition: all 0.3s ease-in;
    }

    &:hover {
      svg {
        fill: $black;
      }
      span {
        color: $black;
      }
    }
  }
}

// animations
@keyframes reveal {
  0% { transform: translateY(100%); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes cover {
  0% { transform: translateY(100%); }
  50%{ transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

@keyframes hide {
  0% { transform: translateY(100%); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

// Location Modal
.location {
  &-modal-cntr {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    &.open-modal {
      z-index: 999;
      .location__modal-content {
        visibility: visible;
        opacity: 1;
        transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out, transform 500ms cubic-bezier(0.680, -0.165, 0.265, 1.55);
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  &__modal-content {
    opacity: 0; 
    visibility: hidden;
    position: absolute;
    background: $white;
    padding: 15px;
    border-radius: 5px;
    max-width: 640px;
    width: 640px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    box-shadow: 0px 4px 5px 0px rgba(56, 56, 56, 0.5);
    transition: transform 350ms cubic-bezier( 0.680, -0.550, 0.265, 1.18 ), opacity 500ms ease-out, visibility 500ms ease-out;

    @include max-screen($mq-sm-mobile) {
      width: 100%;
    }
  }
  &__modal-heading {
    padding-bottom: 6px;
    border-bottom: 1px solid $black;

    h4 {
      text-transform: uppercase;
      font-size: 18px;
      color: $black;
    }
    a {
      margin-top: 2px;
      svg {
        width: 13px;
        height: 13px;
        transition: all 0.3s ease-in;
      }

      &:hover svg {
        fill: $brick_red;
      }
    }
  }
  &__modal-body {
    padding: 15px 0 10px;

    .form-group {
      margin-bottom: 0;

      #selected_location_label {
        font-weight: bold;
        margin-left: 5px;
      }
    }

    #pac-input {
      margin: 0;
    }
  }

  &__modal-footer {
    padding-top: 15px;
    border-top: 1px solid $black;

    .map--error {
      color: red;
      background: rgba(255, 0, 0, 0.16);
      padding: 7px 20px;
      float: left;
    }
  }
}


@include max-screen($mq-sm-mobile) {
  .location_cntr {
    margin-bottom: 20px;

    button.btn {
      display: block;
      width: 100%;
      padding: 9px;
    }
  }
}