.product-links-cntr {
  padding: 0 15px;
  font-size: 0;

  a {
    font-size: 14px;
    margin-right: 10px;    
  }
}

.products__list-cntr {

  .product-list-cntr {

    ul.products {

      li.product-list-item {
        width: 20%;

        .product-info-cntr {

          h4 {
            font-size: 14px;            
            font-weight: normal;
            margin-bottom: 5px;

            a:hover {
              color: $brick_red;
            }
          }

          .price {
            font-size: 14px;
          }
        }
      }
    }

    .product-image-cntr .product-image {
      height: 150px;
    }

    .cart-btn a {
      font-size: 11px;
      padding: 10px 20px;

      &::befre {
        font-size: 20px;
      }
    }
  }
}