// ===================== //
// product setting pages
// ===================== //
.product-links-cntr {
  padding: 0 15px;
  font-size: 0;

  a {
    font-size: 14px;
    margin-right: 10px;    
  }
}

.products__list-cntr {

  .product-list-cntr {

    ul.products {

      li.product-list-item {
        width: 20%;

        .product-info-cntr {

          h4 {
            font-size: 14px;            
            font-weight: normal;
            margin-bottom: 5px;

            a:hover {
              color: $brick_red;
            }
          }

          .price {
            font-size: 14px;
          }
        }
      }
    }

    .product-image-cntr .product-image {
      height: 150px;
    }

    .cart-btn a {
      font-size: 11px;
      padding: 10px 20px;

      &::befre {
        font-size: 20px;
      }
    }
  }

  .filter{

    &-container {
      margin-bottom: 30px;
    }

    &__items {
      background: $lighter_gray;
      padding: 10px 15px;

      .product-filter-form {
        font-size: 14px;

        label {
          line-height: 30px;
          margin-bottom: 0;
        }

        select {          
          padding: 5px 12px;
          width: 200px;
          border: 0;
          margin-left: 6px;
          outline: 0;
        }

        button {
          padding: 7px 25px;
          vertical-align: top;
          margin-left: 6px;
        }
      }

      .product-search-form {

        input, button {
          display: inline-block;
          width: auto;
        }

        input {
          padding: 7px 15px;
          border: 0;
          width: 200px;
        }

        button {
          margin-left: 6px;
          padding: 7px 25px;
          vertical-align: top;
        }
      }
    }
  }
}

.product-feature-setting {
  padding: 0 15px;
  margin-bottom: 30px;
}

.product-extra-edit-cntr {
  margin-top: 30px;
}

.product-setting {
  h3 {
    margin-bottom: 20px;
  }

  button {
    margin-left: 15px;
  }
}

.dashboard-main-cntr {
  button, input[type="button"] {
    font-size: 14px;
  }
}

.add-image-btn {
  margin-top: 10px;
}

.attachment-span {
  display: inline-block;
  margin-right: 6px;
  
  i {
    display: block;
    text-transform: capitalize;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      color: $brick_red;
    }
  }
}
// ===================== //
// /.product setting pages
// ===================== //

// ===================== //
// profile setting pages
// ===================== //
.profile-setting-cntr .profile-update-btn {
  margin-left: 15px;
  margin-top: 20px;
}
// ===================== //
// /.profile setting pages
// ===================== //

// ===================== //
// store setting pages
// ===================== //
.store-setting-cntr {
  .form-group h3 {
    margin: 0 0 30px;
  }

  .store-update-btn {
    margin-left: 15px;
    margin-top: 20px;
  }
}
// ===================== //
// /.store setting pages
// ===================== //

// ===================== //
// order pages
// ===================== //
.orders {
  font-size: 0;

  .order-list-item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    float: none;
    margin-bottom: 30px;

    .order-details-list {
      padding: 0 15px;
      border: 1px solid $lighter_gray;
    }

    .order-detail-top {
      background: $lighter_gray;
      padding: 10px 0;
      margin-bottom: 10px;
    }

    .order-detail-bottom {
      background: $lighter_gray;
      padding: 10px 0;
    }

    p {
      margin-bottom: 5px;
      font-weight: bold;
    }

    span {
      font-weight: normal;
    }

    .woocommerce-Price-amount, .woocommerce-Price-currencySymbol {
      font-weight: bold;
    }

    .order-detail-price-cntr {
      margin-top: 5px;
    }

    .view-order-detail-btn {
      margin-bottom: 0;
    }

    .view-order-detail {
      font-size: 14px;
      float: right;
    }
  }
}

.order-summary-detail-cntr {
  margin-bottom: 15px;

  h4 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    margin-bottom: 5px;
  }
}

.order_status_change_form {
  margin-top: 10px;

  select {
    border-color: $light_gray;
    padding: 4px 12px;
    font-size: 14px;
    width: 250px;
  }

  button {
    vertical-align: top;
    margin-left: 6px;
    padding: 7px 25px;
  }
}

.order-purchased-items-cntr {

  .product-info-cntr {

    span {
      font-weight: bold;
    }
  }
}

.order-payment-info-cntr {

  p {
    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }
}
// ===================== //
// /.order pages
// ===================== //

// ===================== //
// category pages
// ===================== //
.dashboard-category-cntr {
  
  h3 {
    margin: 0 0 30px;
  }
}

.category-lists {
  font-size: 14px;

  li {
    display: block;
    background: $lighter_gray;
    padding: 10px 15px;
    color: $black;
    position: relative;
    margin-bottom: 2px;

    .toggle-cat-drop {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 18px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      transition: all 0.3s ease-in-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  .children {
    display: none;
    padding-top: 10px;    
    
    li {
      background: $light_gray;
      margin-bottom: 2px;

      .children {

        li {
          background: $lighter_gray;
        }
      }
    }
  }
}
// ===================== //
// /.category pages
// ===================== //