.dashboard-main-cntr {
  padding-top: 100px;
  padding-bottom: 50px;

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: $white;
    background: $dark_gray;
    font-size: 14px;
    padding: 15px 20px;
    margin: 0 15px 30px;
  }
}
.dashboard-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 0 15px;
}

.summary-cards-cntr {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  clear: both;
  
  .summary__card {
    margin-bottom: 30px;
    float: none;

    .summary-info {
      color: $white;
      background: $brick_red;
      text-align: center;
      padding: 25px;
      display: block;
      height: 100%;

      > div {
        position: relative;
        z-index: 2;
      }

      span {
        font-size: 30px;
        line-height: 1;
        font-weight: bold;
      }    

      h2 {
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 16px;
      } 

      &:after {
        content: '';
        height: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        position: absolute;
        background: $petal_green;
        z-index: 1;
        transition: all 0.2s ease-in-out;
      }

      &:hover::after {
        height: 100%;
      }
    }

    &.active .summary-info {
      background: $petal_green;
    }
  }
}