.dashboard-main-cntr {
  padding-top: 100px;
  padding-bottom: 50px;

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: $white;
    background: $dark_gray;
    font-size: 14px;
    padding: 15px 20px;
    margin: 0 15px 30px;
  }
  input[type="text"] {
    padding: 7px 15px;
  }
  select {
    padding: 5px 12px;
    height: auto !important;
  }
  textarea {
    min-height: 100px;
  }
}
.dashboard-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 0 15px;
}
.summary-cards-cntr {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  clear: both;

  .summary__card {
    margin-bottom: 30px;
    float: none;

    .summary-info {
      color: $white;
      background: $brick_red;
      text-align: center;
      padding: 25px;
      display: block;
      height: 100%;

      > div {
        position: relative;
        z-index: 2;
      }
      span {
        font-size: 30px;
        line-height: 1;
        font-weight: bold;
      }
      h2 {
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 16px;
      }
      &:after {
        content: '';
        height: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        position: absolute;
        background: $petal_green;
        z-index: 1;
        transition: all 0.2s ease-in-out;
      }
      &:hover::after {
        height: 100%;
      }
    }
    &.active .summary-info {
      background: $petal_green;
    }
  }
}
.custom-pagination {
  font-size: 15px;

  span.page-numbers.page-num {
    background-color: $lighter_gray;
    padding: 7px 20px;
    margin-right: 20px;
  }
  a.page-numbers {
    border: 1px solid $lighter_gray;
    padding: 5px 12px;

    &:hover {
      background-color: $lighter_gray;
    }
  }
  .page-numbers.current {
    padding: 6px 13px;
  }
  a.next.page-numbers, a.prev.page-numbers {
    font-size: 0;
    position: relative;
    border: none;
    height: 30px;
    width: 46px;
    top: -16px;

    &::before {
      position: absolute;
      font-size: 20px;
      transform: translateY(-50%);
      line-height: 0;
      top: 49%;
      font-family: fontawesome;
    }
    &:hover {
      background-color: transparent;
    }
  }
  a.next.page-numbers {
    &::before {
      content: '\f178'
    }
  }
  a.prev.page-numbers {
    &::before {
      content: '\f177 ';
    }
  }
}

// HERO SECTION WITH LOGO

.landing-hero-cntr {
  width:100%; 
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-wrap {
    width:40%;
    max-width: 80%; 
    margin:0 auto; 
    position:relative;
    perspective: 1000px; 
  }
}
#logo_svg {
  width:100%; 
  position:relative;
  svg {
    padding: 16px 0;
    margin:0 23px;
  }    
}
#img_cntr {
  position: absolute; 
  overflow:hidden; 
  opacity: 0;
  top:-2px;   
  left:0; 
  bottom: 0;
  right: 0;
    will-change: transform;
  svg{ 
    box-sizing:border-box; 
    padding:19px; 
    overflow:auto;
  }
}
#logo-shadow {
  opacity: 0;
}
#main-logo-svg, #logo-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: transform;
}
#logo-shadow {
  background: url(../images/main-logo.svg) center center no-repeat;
  background-size: 90% 100%;
  -webkit-filter: url(#logo-shadow);
  filter: url(#logo-shadow);
  opacity: 0;
  will-change: transform;
  transform: translateZ(-40px) translateY(10px);
}

.anim-shape {
  -webkit-transform-origin: 0 150px;
  -ms-transform-origin: 0 150px;
  transform-origin: 0 150px;
  -webkit-transform: scale(1, 2) rotate(270deg) translate(0, 0);
  -ms-transform: scale(1, 2) rotate(270deg) translate(0, 0);
  transform: scale(1, 2) rotate(270deg) translate(0, 0);
  -webkit-animation: moving-panel 5s infinite alternate;
  animation: moving-panel 5s infinite alternate;
  opacity: 0.2
}
.colortext .anim-shape:nth-child(1) {
  fill: #F2385A;
}
.colortext .anim-shape:nth-child(2) {
  fill: #F5A503;
}
.colortext .anim-shape:nth-child(3) {
  fill: #E9F1DF;
}
.colortext .anim-shape:nth-child(4) {
  fill: #56D9CD;
}
.colortext .anim-shape:nth-child(5) {
  fill: #3AA1BF;
}
.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}
.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}
 @-webkit-keyframes moving-panel {
 100% {
 -webkit-transform: scale(1, 1) translate(20px, 0);
 transform: scale(1, 1) translate(20px, 0);
}
}
@keyframes moving-panel {
 100% {
 -webkit-transform: scale(1, 1) translate(20px, 0);
 transform: scale(1, 1) translate(20px, 0);
}
}
// HERO SECTION WITH LOGO END

// HERO STICK NAV
.stick-navigation-cntr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //background: $white;
  //color: $black;
  height: 60px;
  line-height: 60px;

  ul {
    font-size: 0;

    li {
      font-size: 18px;
      display: inline-block;
      float: none;
      vertical-align: top;

      a {
        text-transform: uppercase;
        font-size: 16px;
        padding: 0 20px;
        font-weight: bold;
      }
    }
  }
}
// HERO STICK NAV END
