.dashboard-main-cntr {
  padding-top: 100px;

  h3 {
    background: $dark_gray;
    color: $white;
    padding: 15px 20px;        
    font-size: 18px;    
    text-transform: uppercase;
    margin: 15px 0;
  }
}