/**
 * Define the screen sizes in the varible
 * @author Nabin Maharjan <nabin.maharjan17@gmail.com>
 */
$mq-mobile: 768px;
$mq-tablet: 1024px;


/**
 * Define colors
 */

$gray_bg: #efefef;
$red_bg: #ff0000;

