.gsn-landing {
  &__form {
    &__wrapper {
      background: $petal_green;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      transition: all 0s 0.5s;
      overflow: auto;

      &.js-open-form {
        opacity: 1;
        visibility: visible;
        z-index: 99;
        animation-name: reveal;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
        animation-delay: 0s;
        animation-fill-mode: forwards;
      }
    }

    &__items {
      font-size: 0;
    }

    &__item {
      margin-bottom: 20px;
      position: relative;
      display: inline-block;
      font-size: rem($fs-body);
      display: block;
      
      @include min-screen($mq-min-mobile) {
        width: 50%;
        padding: 0 15px;
        display: inline-block;
        vertical-align: top;
      }
    }

    &__label {
      margin-bottom: 2px;
      font-weight: normal;
      display: none;
    }

    &__message {
      margin-top: 15px;
      font-size: rem($fs-sbody);
      text-align: center;

      a {
        @include inline-anchor($yellow, 'uppercase');
      }
    }
  }

  &__wipe {
    &__block {
      background: $brick_red;
      height: 100%;
      position: fixed;
      width: 100%;
      z-index: 998;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      animation-name: hide;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      animation-delay: 0s;
      animation-fill-mode: forwards;

      &.js-open-form {
        animation-name: cover;
      }

      &.js-wipe-right {
        background: $petal_green;
        animation-name: wipeRight;
      }

      &.js-wipe-slide {
        background: $petal_green;
        animation-name: wipeSlide;
      }
    }
  }

  &__close {
    &__fwrap {
      position: fixed;
      bottom: 20px;
      width: 100%;
      text-align: center;
    }

    &__flink {
      svg {
        height: 20px;
        width: 20px;
        fill: $white;
        vertical-align: middle;
        transition: all 0.3s ease-in;
      }

      span {
        display: inline-block;
        line-height: 24px;
        vertical-align: top;
        color: $white;
        text-transform: uppercase;
        margin-left: 5px;
        font-size: rem($fs-medium);
        letter-spacing: 2px;
        transition: all 0.3s ease-in;
      }

      @include min-screen($mq-min-mobile) {
        &:hover {
          svg {
            fill: $black;
          }

          span {
            color: $black;
          }
        }
      }
    }
  }

  &__tab {
    &__content {
      max-width: 640px;
      min-width: 640px;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-40%);
      transition: all 0.5s ease-in-out;
      transition-delay: 0.5s;
      color: $white;

      @include max-screen($mq-sm-mobile) {
        min-width: inherit;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 60px;
        padding: 0 20px 0;
        overflow: hidden;
        overflow-y: auto;
        transform: translateX(0) translateY(40%);
      }

      &.js-forms-active {
        transition-delay: 0s;
        transition: all 0.2s ease-in-out;
      }

      &.js-opened {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-50%);

        @include max-screen($mq-sm-mobile) {
          transform: translateX(0) translateY(0);
        }
      }

      &.js-closing {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(-60%);
        transition: all 0.5s ease-in;
        transition-delay: 0s;
      }

      label.error {
        position: absolute;
        margin: 0;
        top: 100%;
      }
    }

    &__title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: $fw-sbold;
      font-size: rem($fs-mbig);
      position: relative;
      letter-spacing: 8px;

      &::after {
        content: '';
        width: 25px;
        height: 2px;
        background: $white;
        display: block;
        margin: 7px auto 0 auto;
      }
    }
  }

  &__location {
    &__btn {
      white-space: normal;

      &__text {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }

  // location modal
  &-lmodal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    &.js-open-modal {
      z-index: 999;

      .gsn-landing-lmodal__content {
        visibility: visible;
        opacity: 1;
        transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out,
          transform 500ms cubic-bezier(0.68, -0.165, 0.265, 1.55);
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &__content {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: $white;
      padding: 15px;
      border-radius: 4px;
      max-width: 640px;
      width: 640px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      box-shadow: 0px 4px 5px 0px rgba(56, 56, 56, 0.5);
      transition: transform 350ms cubic-bezier(0.68, -0.55, 0.265, 1.18),
        opacity 500ms ease-out, visibility 500ms ease-out;

      @include max-screen($mq-sm-mobile) {
        width: 100%;
      }
    }

    &__heading {
      padding-bottom: 6px;
      border-bottom: 1px solid $black;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-weight: $fw-sbold;
        font-size: rem($fs-ebody);
        color: $black;
        flex: 1;
        padding-right: 10px;
      }

      a {
        margin-top: 2px;
        display: block;

        svg {
          width: 18px;
          height: 18px;
          @include transition;
        }

        &:hover svg {
          fill: $brick_red;
        }
      }
    }

    &__body {
      padding: 15px 0 10px;

      #selected_location_label {
        font-weight: bold;
        margin-left: 5px;
      }

      #pac-input {
        margin-left: 0;
        margin-top: 10px;
        height: 40px;
        border-radius: 4px;
      }
    }

    &__footer {
      padding-top: 15px;
      border-top: 1px solid $black;

      button {
        font-size: rem($fs-tiny);
      }
    }

    .js-landing-lmap-error {
      color: red;
      background: rgba(255, 0, 0, 0.16);
      padding: 7px 20px;
      float: left;
      border-radius: 4px;
    }
  }
}

@include max-screen($mq-sm-mobile) {
  .location_cntr {
    margin-bottom: 20px;

    button.btn {
      display: block;
      width: 100%;
      padding: 9px;
    }
  }
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cover {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes hide {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes wipeSlide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes wipeRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moving-panel {
  100% {
    transform: scale(1, 1) translate(20px, 0);
  }
}