/* CSS Document */
.contact-page {
  label {
    abbr {
      color: red;
      text-decoration: none;
      border: none;
      padding-left: 3px;
    }
  }
  input {
    padding: 10px 15px;
    border: 1px solid #dcdcdc;
  }
}