main {
  clear: both;
}
.section-divider {
  border-bottom: 2px solid $light_gray;
  margin: 20px 0 30px;
}
.section-title {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.home-product-list-cntr {
  
  .products {
    font-size: 0;

    .product-list-item {
      display: inline-block;
      float: none;
      font-size: 16px;
      margin-bottom: 30px;
      vertical-align: top;
    }
  }

  .product-image-cntr .product-image {
    height: 200px;
  }
}