.footer {   
  color: $white;
  margin-top: 70px;    

  &__items {

    h3 {      
      font-size: 16px;      
      font-weight: bold;
      padding-bottom: 25px;
      text-transform: uppercase;      
    }

    a:hover {
      color: $brick_red;
    }
  }

  .contact-info {
    li {
      display: block;
    }
  }

  &-social {
    li {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      font-size: 20px;
    }
  }
}

.footer-map-cntr {
  background-color: $brick_red;
  display: block;
  height: 250px;
}

.top-footer {
  background: $dark_gray; 
  padding: 35px 0 40px;
}

.bottom-footer {
  background: $black;
  height: 35px;
  line-height: 35px;
  
  li {
    margin: 0 15px;
    float: left;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $light_gray;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;

    &:hover {
      color: $brick_red;
    }
  }
}

.back-to-top {
  bottom: 40px;
  display: none;
  position: fixed;
  right: 30px;  

  a {
    background: $brick_red;    
    color: $white;
    font-size: 24px;    
    height: 40px;
    width: 40px;
    text-align: center;

    &:hover {
      background: $petal_green;
    }
  }
}

.fb-messengermessageus.fb_iframe_widget {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
}