.page {
  
  &-hero {
    background: $light_gray;    
    padding: 80px 0 30px;    
    width: 100%;

    .woocommerce-breadcrumb {
      color: $dark_gray;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 10px;

      a:hover {
        color: $brick_red;
      }
    }
  }

  &__top-info {

    h1 {
      color: $black;
      font-weight: bolder;
      text-transform: uppercase;      
    }
  }

  &__top-desc {
    margin-top: 10px;
    color: $dark_gray;
  }

}

.inner-page-cntr {
  margin-top: 30px;

  p.woocommerce-result-count, form.woocommerce-ordering {
    margin-bottom: 0;
  }

  .form-top-info {
    background: $dark_gray;
    color: $white;
    margin-bottom: 20px;
    padding: 15px 20px;
  }

  p.woocommerce-result-count {
    font-style: italic;
    margin-top: 6px;
  }

  form select {
    border: none;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    padding: 8px 12px;
  }
}

.item-list-cntr {
  background: $light_gray;
  padding-bottom: 60px;

  li {
    text-align: center;  
    margin-bottom: 20px;  

    a {
      background: $brick_red;
      color: $white;
      display: block;
      padding: 15px;
      text-transform: uppercase;

      &:hover {
        background: $petal_green;
      }
    }
  }
}