.header {

  &__top {
    background: $black;
    color: $white;
    font-size: 14px;
    height: 35px;
    line-height: 35px;    
  }

  &__bottom {
    background: $white;
    height: 100px;
    line-height: 100px;
    position: absolute;
    width: 100%;
    z-index: 4;

    &.stick {
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
      left: 0;
      position: fixed;
      top: 0; 
      width: 100%;   
      z-index: 4;  
    }
  }

  &__logo {
    text-transform: uppercase;    

    h1{
      font-size: 20px;
      font-weight: bolder;
      margin-top: 15px;

      img {
        max-width: 150px;
      }
    }
  }
  // /__logo
}

// top bar
.top {
  color: $white;
  text-transform: uppercase;
  
  a {
    &:hover {
      color: $brick_red;
    }
  }

  ul {
    li {
      margin-right: 15px;

      .fa {
        margin-right: 5px;
      }
    }
  }

  &__left-icons {

  }

  &__right-icons {
    ul {
      li {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }
}
// /.top bar

// navigation
.nav__links {
  font-size: 0;

  li{  
    font-size: 16px;    
    position: relative;
    cursor: pointer;
    float: left;

    &.active, &:hover > a {
      color: $brick_red;
    }

  }

  a{
    display: block;
    font-weight: bold;
    line-height: 100px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;    
  }  
}
.dropdown{
  transition: all 0.3s ease;
  
  &__link {
    position: relative;

    &::after{
      content: '\f0d7';
      font-family: FontAwesome;
    }
  }

  &__menu {    
    background: $black;
    color: $white;    
    left: 0;    
    min-width: 100%;
    opacity: 0;    
    position: absolute;
    top: 100%;
    transform: translateY(15px);
    transition: all 0.3s ease;
    visibility: hidden;
    white-space: nowrap;
    z-index: 2;

    li {
      display: block;
      line-height: 1;      

      a {
        display: block;
        line-height: 1;
        padding: 10px 25px;
        text-align: left;

        &.dropdown__link::after{
          content: '\f0da';
          float: right;
          margin-left: 5px;
        }
      }  

      .dropdown__menu {
        left: 100%;
        top: 0;
      } 

      &:hover > .dropdown__menu{
        opacity: 1;        
        transform: translateY(0);
        visibility: visible;        
      }
    }
  }
  
  &:hover > &__menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
// /.navigation

// cart
.item__cart {
  position: relative;
}
.cart {

  &__icon {
    
    .cart-indicator{
      background: $brick_red;
      border-radius: 50%;
      color: $white;      
      height: 24px;
      line-height: 22px;
      text-align: center;
      margin-top: -12px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 24px; 
      z-index: 2;     
    }
    a {
      padding-right: 30px;

      &:hover {
        color: $brick_red;
      }
    }    
  }

  &__prices {
    border-top: 2px solid $light_gray;
    padding-top: 5px;
    
    .cart-price {
      padding: 7px 0;

      .price {
        float: right;
        font-weight: bold;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    text-align: right;

    a:hover {
      background: $brick_red;
      color: $white;
    }
  }
}

.cart-item {
  display: block;
  margin-bottom: 15px;
  position: relative;
  
  .cart-image {
    float: left;
    margin-right: 10px;
    max-width: 80px;
  }

  .cart-product-info {
    overflow: hidden;
    padding-right: 30px;

    .product__name {
      text-align: right;
      margin-bottom: 5px;

      > span {
        padding-right: 5px;
      }

      a {
        float: left;
      }
    }

    .product__attributes {
      a {
        font-style: italic;
      }

      .product__price {
        font-weight: bold;
      }
    }
  }

  .cart-product-remove {
    position: absolute;
    right: 5px;
    top: 0;
  }
}

.toggle__content {
  background: $white;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.12);    
  display: none;
  padding: 10px; 
  position: absolute;
  right: 0;
  top: 100%;
  white-space: nowrap;
  width: 380px;
  z-index: 3;

  > * {
    line-height: 1;
  }
}
.search__content.toggle__content {
  // display: block;
  width: 600px;
  right: 15px;
}
// /.cart

// search
.item__search {
  margin-right: 15px;
}

.search {
  // position: relative;
  
  a:hover {
    color: $brick_red;
  }

  i {
    padding-right: 15px;
    border-right: 1px solid $dark_gray;
  }

  &-select {
    margin-right: 10px;
    width: 190px;

    select {
      padding: 9px 11px 8px;
      height: auto !important;
      border-color: $light_gray;
      font-size: 14px;      

      option { 
        padding: 0;
      }
    }
  }

  &-input {
    margin-right: 10px;
    width: 240px;

    input {
      width: 100%;
      padding: 11px 15px;
      border-color: $light_gray;
      box-shadow: none;
      outline: 0;
      border-width: 1px;
      border-style: solid;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &-button {
    width: 130px;

    button {
      display: block;
      width: 100%;
      background: $brick_red;
      transition: all 0.3s ease;

      &:hover {
        background: $petal_green;
      }
    }
  }
}
// /.search