/**
 * Define the screen sizes in the varible
 * @author Nabin Maharjan <nabin.maharjan17@gmail.com>
 */
$mq-mobile: 800px;
$mq-tablet: 1024px;


/**
 * Define colors
 */

$gray_bg: #9c9c9c;
$red_bg: #ff0000;
$space_gray: #888888;
$dark_gray: #555555;
$brick_red: #E74F4A;
$petal_green: #68BD74;
$light_gray: #dcdcdc;

/* dashboard colors */
$dark_blue:#232429;

/* Theme colors */
$black: #000;
$white: #fff;
$gray: #444444;
$dark__gray: #3c3c3c;