.gsn-lmslist {

  &__wrap {
    margin-top: 30px;
  }

  &__items {
    @include min-screen($mq-min-sm-mobile) {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -20px;
    }
  }

  &__item {
    padding: 15px 0;
    display: block;

    @include min-screen($mq-min-sm-mobile) {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 50%;
    }

    @include min-screen($mq-min-mobile) {
      width: 33.33333%;
    }
  }

  &__link {
    display: flex;    
  }
}