.gsn-lmfind {
  &__filter {
    margin: 0 15px;

    > span {
      font-size: rem($fs-small);
      text-transform: uppercase;
      font-weight: $fw-sbold;
      display: block;
      text-align: left;
      margin-bottom: 5px;
    }

    &__wrapper {
      margin-top: 50px;
      margin-bottom: 55px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}